# Dependências
node_modules
.pnp
.pnp.js
.pnpm-store/

# Next.js
.next/
out/
.next-env.d.ts

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Ambiente
.env
.env*.local

# Build / ferramentas
dist/
coverage/
.vercel/

# Editor / SO
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
